/* HEADER */

header{
  width: 100%;
  justify-content: flex-end;
  background-color: black;
  padding: 5px;  
}


.setting{
  color: white; 
}
.setting > div{
  margin: 0 5px;
}

.setting > div{
  border-radius: 10px;
  background-color: rgb(74, 74, 74);
  padding: 5px 10px;
}

/* MAIN */

main{
  height: calc(100vh - 138px);
  background-color: black;
}

.miniature-container{
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 30px
}

.miniature{
  width: 250px;
  height: 150px;
  background-image: url(https://picsum.photos/250/150);
  position: relative;
}
.label{
  color: white;
  position: absolute;
  left: 1px;
  bottom: 1px;
  background-color: rgba(60, 60, 60, 0.5);
  padding: 3px;
}

/* FOOTER */

.nav{
  justify-content: space-between;
}

/* sinistra */
.left-container{
  justify-content: space-between;
}



/* centro */

.center-container{
  width: 50%;
  justify-content: space-evenly;
}



/* destra */
.right-container{
 

}