/* HEADER */

header{
  width: 100%;
  justify-content: flex-end;
  background-color: black;
  padding: 5px;  
}


.setting{
  color: white; 
}
.setting > div{
  margin: 0 5px;
}

.setting > div{
  border-radius: 10px;
  background-color: rgb(74, 74, 74);
  padding: 5px 10px;
}

/* MAIN */

main{
  height: calc(100vh - 126px);
  background-color: black;
  overflow-y: auto;
}

.miniature-container{
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 30px
}

.miniature{
  width: 250px;
  height: 150px;
  background-image: url(https://picsum.photos/250/150);
  position: relative;
}
.label{
  color: white;
  position: absolute;
  left: 1px;
  bottom: 1px;
  background-color: rgba(60, 60, 60, 0.5);
  padding: 3px;
}

/* FOOTER */

footer{
  justify-content: space-between;
  font-size: 20px;
  padding: 10px;
  color: white;
  background-color: rgb(34, 34, 34);
}

footer .fa-solid{
  font-size: 30px;
}

footer .fa-chevron-up{
  font-size: 15px;
}

/* sinistra */
.left-container{
  justify-content: space-between;
  gap: 30px;
}
.mic,
.video{
  /* padding: 5px 0 0 20px; */
  gap: 0px 10px;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-width: 70px;
}

.mic > *,
.video > *{
  height: 50%;
}


/* centro */

.center-container{
  width: 50%;
  justify-content: space-evenly;
}

.option{
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}


/* destra */
.right-container{
 align-self: center;

}